#titre_page{
    color: rgb(4, 80, 73);
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

}

@media only screen and (max-width: 600px) {
    body {
        background-color: grey;
    }
}

table {
    border-spacing: 5px;
  }

a:hover {
    color:orange;
    text-decoration:none;
    }

tr:hover {
    background-color: red;
}

tr:nth-child(odd) {background: #FFF}

table.color_line tr:nth-child(2n+0) td {
    color: green; 
}

  #Titre{
    text-align: center

  }

h1{

text-transform: uppercase;


}