body{
    font-family: 'Comic sans ms'
  }
  
  form{
    text-align : center;
  }
  
  label{
     font-family: 'Arial';
      width: 100px;
      display: inline-block;
  }
  
  #error, #resultat{
    display : none;
  }
  
  
  .display{
    display : block !important;
  }
  
  